body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: rgb(2, 65, 30);
}

h3 {
    color: rgb(2, 65, 30);
}

footer {
    padding: 20px;
    color: rgb(2, 65, 30);
    background-color: rgb(104, 141, 104);
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(2, 65, 30);
}

nav a:hover {
    font-weight: bold;
}

.profile header {
    text-align: center;
}

.profile img {
    width: 150px;
}

.card {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron {
    padding: 50px;
    background-color: rgb(104, 141, 104);
    text-align: center;
    font-size: 25px;
    color: rgb(2, 65, 30);
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: rgb(82, 161, 82);
    padding: 5px;
    position: sticky;
    top: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

header {
    display: inline;
}

.profile h3 {
    text-align: center;
    color: black;
}

#sejarah {
    background-color: rgb(186, 229, 186);
}

#type {
    background-color: rgb(186, 229, 186);
}

.profile {
    background-color: aquamarine;
}